<!-- blend -->

<div id="carousel-color" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  </div>
</div>

<div id="carousel-image" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  </div>
</div>

<div id="blend-header" class="row justify-content-between mt-4">

  <!-- <button id="start-blend" type="button" class="btn btn-light">Start Blend</button> -->

  <div id="blend-toolbar" class="col-4 btn-group btn-group-toggle" role="group" aria-label="blend-toolbar" hidden>
    <button id="auto-blend" type="button" data-toggle="button" class="btn btn-light active">Auto</button>
    <button id="manual-blend" type="button" data-toggle="button" class="btn btn-light">Manual</button>
    <button id="next-blend" type="button" class="btn btn-light">Next</button>
    <label id="stop-blend" class="btn btn-light close">
      <span aria-hidden="true">&times;</span>
    </label>
  </div>

  <div class="col-4">
    <figure class="figure">
      <a id="art-download" href="" target="_blank">
        <figcaption id="art-title" class="figure-caption"></figcaption>
        <figcaption id="art-artist" class="figure-caption"></figcaption>
        <figcaption id="art-year" class="figure-caption"></figcaption>
      </a>
    </figure>
  </div>
</div>

<!-- END blend -->
