<h2 class="my-4">LiquidTap</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Lead Developer</strong></dd>
  <dd class="col-sm-12">Cologne, Germany</dd>
  <dd class="col-sm-12">January 2015 - Present</dd>
  <dd class="col-sm-12">LiquidTap is a product manager for small businesses.</dd>
  <dd class="col-sm-12">With liquidTap you can:</dd>
  <ul>
    <dd><li>Display products live on a TV screen and show them being sold</li></dd>
    <dd><li>Embed a live product menu on any website with one line of Javascript code</li></dd>
    <dd><li>Manage products, control inventory, and set prices with editable HTML tables</li></dd>
    <dd><li>Synch products from our database with a third-party Point of Service like Lavu</li></dd>
    <dd><li>View products, statistics, sales history, and download them all to your computer</li></dd>
    <dd><li>Present products and events in social media, including Facebook and Twitter</li></dd>
    <dd><li>Built with HTML, CSS, Javascript, PHP, MySQL, Bootstrap 4.0, jQuery, Git</li></dd>
    <dd><li><a class="link" href="http://www.liquidtap.com" target="_blank">www.liquidtap.com</a></li></dd>
  </ul>
</dl>
