<div class="my-4"><a class="link resume-link" href="Jason_Jansma_Resume.pdf" download>Download Resume</a></div>
<dl class="row">
  <dt class="col-sm-4">Email:</dt>
  <dd class="col-sm-8">jjjansma@gmail.com</dd>
  <dt class="col-sm-4">Nationality:</dt>
  <dd class="col-sm-8">USA</dd>
  <dt class="col-sm-4">Place of Birth:</dt>
  <dd class="col-sm-8">Okinawa, Japan</dd>
  <dt class="col-sm-4">Date of Birth:</dt>
  <dd class="col-sm-8">April 13, 1976</dd>
  <dt class="col-sm-4 mt-4">Current Location:</dt>
  <dd class="col-sm-8 mt-4">Cologne, Germany</dd>
  <dt class="col-sm-4">Availability:</dt>
  <dd class="col-sm-8">Immediate</dd>
</dl>
<h2 class="my-4">Education</h2>
<dl class="row">
  <dt class="col-sm-4">Bachelor's Degree Computer Science</dt>
  <dd class="col-sm-8">University of Texas at Austin</dd>
  <dt class="col-sm-4">Bachelor's Degree Psychology</dt>
  <dd class="col-sm-8">University of Texas at Austin</dd>
  <dt class="col-sm-4">Front End Web Development</dt>
  <dd class="col-sm-8">Treehouse Online</dd>
  <dt class="col-sm-4">Certificate Technical Writing</dt>
  <dd class="col-sm-8">Brooklyn College Online</dd>
  <dt class="col-sm-4">ISTQB Certified Software Tester</dt>
  <dd class="col-sm-8">XXX</dd>
</dl>
<h2 class="my-4">LiquidTap</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Lead Developer</strong></dd>
  <dd class="col-sm-12">Cologne, Germany</dd>
  <dd class="col-sm-12">January 2015 - Present</dd>
  <dd class="col-sm-12">LiquidTap is a product manager for small businesses.</dd>
  <dd class="col-sm-12">With liquidTap you can:</dd>
  <ul>
    <dd><li>Display products live on a TV screen and show them being sold</li></dd>
    <dd><li>Embed a live product menu on any website with one line of Javascript code</li></dd>
    <dd><li>Manage products, control inventory, and set prices with editable HTML tables</li></dd>
    <dd><li>Synch products from our database with a third-party Point of Service like Lavu</li></dd>
    <dd><li>View products, statistics, sales history, and download them all to your computer</li></dd>
    <dd><li>Present products and events in social media, including Facebook and Twitter</li></dd>
    <dd><li>Built with HTML, CSS, Javascript, PHP, MySQL, Bootstrap 4.0, jQuery, Git</li></dd>
    <dd><li><a class="link" href="http://www.liquidtap.com" target="_blank">www.liquidtap.com</a></li></dd>
  </ul>
</dl>
<h2 class="my-4">Intel</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Test Case Development</strong></dd>
  <dd class="col-sm-12">Munich, Germany</dd>
  <dd class="col-sm-12">May 2013 - September 2014</dd>
  <dd class="col-sm-12">Develop software to automatically generate test cases:</dd>
  <ul>
    <dd><li>Test case generator takes field traces and creates complete end-to-end test cases</li></dd>
    <dd><li>Write from scratch a Python plugin to generate XML-based test cases</li></dd>
    <dd><li>Develop the test case generator in C++, Matlab, Python, and XML</li></dd>
    <dd><li>Troubleshoot, test, and debug the test generator tool</li></dd>
    <dd><li>Execute test cases for the Intel mobile platform technologies</li></dd>
  </ul>
</dl>
<h2 class="my-4">Nash Technologies</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Test & Integration</strong></dd>
  <dd class="col-sm-12">Nuremberg, Germany</dd>
  <dd class="col-sm-12">July 2011 - December 2012</dd>
  <dd class="col-sm-12">Perform Small Cell system and integration testing:</dd>
  <ul>
    <dd><li>Develop and execute test cases based on specifications and customer requirements</li></dd>
    <dd><li>Integrate and test network protocols and technologies</li></dd>
    <dd><li>Write and perform automated test scripts for regression testing</li></dd>
    <dd><li>Integrate the development of software features into various hardware platforms</li></dd>
    <dd><li>Follow a Continuous Integration strategy using tools such Jenkins for build maintenance, Jira and Trac for ticket management, and Subversion for version control</li></dd>
  </ul>
</dl>
<h2 class="my-4">T-Mobile International</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Mobile Terminal Testing</strong></dd>
  <dd class="col-sm-12">Bonn, Germany</dd>
  <dd class="col-sm-12">January 2001 - December 2010</dd>
  <dd class="col-sm-12">Perform mobile terminal interoperability testing:</dd>
  <ul>
    <dd><li>Perform acceptance testing of mobile devices to ensure interoperability with the T-Mobile network</li></dd>
    <dd><li>Write automated test scripts for protocol testing</li></dd>
    <dd><li>Ensure devices satisfy T-Mobile International requirements and specifications using both manual and automated test cases</li></dd>
    <dd><li>Test mobile devices from major device vendors</li></dd>
    <dd><li>Write, edit, and review test cases for T-Mobile International</li></dd>
  </ul>
</dl>
<h2 class="my-4">Nortel Networks</h2>
<dl class="row">
  <dd class="col-sm-12"><strong>Member of the Scientific Staff</strong></dd>
  <dd class="col-sm-12">Dallas, Texas</dd>
  <dd class="col-sm-12">January 2000 - May 2001</dd>
  <dd class="col-sm-12">Software support for GSM and GPRS core network:</dd>
  <ul>
    <dd><li>Write software patches on live networks to fix bugs and reverse design defects</li></dd>
    <dd><li>Analyze system issues in core network code and report findings to software development</li></dd>
    <dd><li>Support system upgrades and maintenance, and be on 24-hour support in case of network outages</li></dd>
    <dd><li>Verify issues and take logs during system integration of new features and equipment</li></dd>
  </ul>
</dl>
<h2 class="my-4">Skills & Tools</h2>
<dl class="row">
  <dd class="col-sm-12">Native English speaker</dd>
  <dd class="col-sm-12">Conversational German</dd>
  <dd class="col-sm-12">Testing, troubleshooting, test case development, issue reproduction and tracking</dd>
  <dd class="col-sm-12">HTML, CSS, Javascript, jQuery, Ajax</dd>
  <dd class="col-sm-12">Laravel, Express, Node.js</dd>
  <dd class="col-sm-12">Python</dd>
  <dd class="col-sm-12">PHP and MySQL</dd>
  <dd class="col-sm-12">Linux command line</dd>
  <dd class="col-sm-12">Issue tracking with Quality Center, Trac, and Jira</dd>
  <dd class="col-sm-12">Version control with Subversion and Git</dd>
  <dd class="col-sm-12">Chrome Developer Tools</dd>
  <dd class="col-sm-12">Text editors Atom and Sublime Text</dd>
  <dd class="col-sm-12">MAMP Server software</dd>
  <dd class="col-sm-12">MySQL management and design with MySQL Workbench and Sequel Pro</dd>
  <dd class="col-sm-12">Various network protocols, including UMTS, HSPA, LTE</dd>
</dl>
