<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <title>jjjansma</title>
  </head>

<html lang="en">
  <body>
    <div class="container">

        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- <img class="d-block w-100"> -->
            </div>
            <div class="carousel-item overlay wave">
              <!-- <img class="d-block w-100"> -->
            </div>
            <div class="carousel-item overlay otani">
              <!-- <img class="d-block w-100"> -->
            </div>
            <div class="carousel-item overlay crows">
              <!-- <img class="d-block w-100"> -->
            </div>
          </div>
        </div>


      <div id="section-ukiyo-header" class="row justify-content-between mt-4">
        <div class="col-2 d-flex justify-content-start">
          <button type="button" class="close" aria-label="Close" data-toggle="tooltip"  data-placement="right" title="Close Ukiyo-e Background" hidden>
            <span class="display-4" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-4"
          <figure class="figure">
            <a id="art-link" href="" target="_blank">
              <figcaption id="art-title" class="figure-caption"></figcaption>
              <figcaption id="art-artist" class="figure-caption"></figcaption>
              <figcaption id="art-year" class="figure-caption"></figcaption>
            </a>
          </figure>
        </div>
      </div>


      <div class="row mt-4">

        <div class="col-3 nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
          <a class="nav-link" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Projects</a>
          <a class="nav-link" id="v-pills-resume-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Resume</a>
          <a class="nav-link" id="ukiyo-e-mode" data-toggle="" href="#" role="tab" aria-controls="v-pills-ukiyo" aria-selected="false">Ukiyo-e</a>
        </div>

        <div class="col-9 tab-content pl-4" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h1 class="">Profile</h1>
            <div class="my-4">
              <% include includes/profile %>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1 class="">Projects</h1>
            <div class="my-4">
              <% include includes/projects %>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h1 class="">Resume</h1>
            <div class="my-4">
              <% include includes/resume %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>
