<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>jjjansma</title>
    <style>
      body {
        font-family: 'IBM Plex Mono', sans-serif;
        background-color: rgba(3, 50, 78, 0.7);
        /* background-size: cover; */
        /* background-repeat: repeat; */
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: darken;
      }
      a, a:hover, li>a {
        color: initial;
      }
      .nav-pills .nav-link.active {
        background-color: initial;
        color: AliceBlue;
      }
      .nav-pills .show>.nav-link {
        color: initial;
        background-color: initial;
        border: none;
      }
      .resume-link {
        color: AliceBlue;
      }
      .figure {
        height: 60px;
      }
      .figure-caption {
        color: initial;
      }
    </style>
  </head>

<html lang="en">
  <body>
    <div class="container">
      <div class="row justify-content-end mt-4">
        <figure class="figure">
          <a id="art-link" href="" target="_blank">
            <figcaption id="art-title" class="figure-caption"></figcaption>
            <figcaption id="art-artist" class="figure-caption"></figcaption>
            <figcaption id="art-year" class="figure-caption"></figcaption>
          </a>
        </figure>
      </div>
      <div class="row my-4">

        <div class="nav flex-column nav-pills col-3 pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
          <a class="nav-link" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Projects</a>
          <a class="nav-link" id="v-pills-resume-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Resume</a>

          <div class="dropdown show">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ukiyo-e</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a id="ukiyo-e-no" class="dropdown-item" href="#">No Ukiyo-e</a>
              <a id="ukiyo-e-wave" class="dropdown-item" href="#">The Great Wave off Kanagawa</a>
              <a id="ukiyo-e-otani" class="dropdown-item" href="#">Ōtani Oniji III in the Role of the Servant Edobei</a>
            </div>
          </div>
        </div>
        <div class="tab-content col-9 pl-4" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h1 class="">Profile</h1>
            <div class="my-4">
              <% include includes/profile %>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1 class="xxx">Projects</h1>
            <div class="my-4">
              <% include includes/projects %>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h1 class="">Resume</h1>
            <div class="my-4">
              <% include includes/resume %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script>
    $("#ukiyo-e-wave").click(function() {
      $("body").css({"background-image": "url('images/Great_Wave_off_Kanagawa2.jpg')"})
      .css({"background-color": "rgba(3, 50, 78, 0.7)"})
      .css({"background-size": "cover"})
      .css({"color": "AliceBlue"})
      .css({"opacity": "0.9"});
      $(".dropdown-item").css({"color": "black"});
      $(".link").css({"color": "AliceBlue"});
      $("#art-link").attr('href', 'images/Great_Wave_off_Kanagawa2.jpg');
      $("#art-title").text("The Great Wave off Kanagawa");
      $("#art-artist").text("Katsushika Hokusai");
      $("#art-year").text("Sometime between 1829 and 1833");
    });
    $("#ukiyo-e-otani").click(function() {
      $("body").css({"background-image": "url('images/Toshusai_Sharaku-_Otani_Oniji,_1794.jpg')"})
      .css({"background-color": "rgba(3, 50, 7, 0.7)"})
      .css({"background-size": "contain"})
      .css({"color": "AliceBlue"})
      .css({"opacity": "0.9"});
      $(".dropdown-item").css({"color": "black"});
      $(".link").css({"color": "AliceBlue"});
      $("#art-link").attr('href', 'images/Toshusai_Sharaku-_Otani_Oniji,_1794.jpg');
      $("#art-title").text("Ōtani Oniji III in the Role of the Servant Edobei,");
      $("#art-artist").text("Tōshūsai Sharaku");
      $("#art-year").text("1794");
    });
    $("#ukiyo-e-no").click(function() {
      $("body").css({"background-image": "initial"})
      .css({"background-color": "rgba(3, 50, 78, 0.7)"})
      .css({"color": "initial"})
      .css({"opacity": "initial"});
      $(".dropdown-item").css({"color": "initial"});
      $(".link").css({"color": "initial"});
      $("#art-title").text("");
      $("#art-artist").text("");
      $("#art-year").text("");
    });
  </script>
</html>
