body {
  font-family: 'Inconsolata', sans-serif;
  background-color: rgba(93, 138, 168, 1); /* Air Force Blue  */
}

a, a:hover, li>a {
  color: initial;
}

.nav-pills .nav-link.active {
  background-color: initial;
  color: initial;
  display: list-item;
  list-style-type: disc;
}

.nav-pills .show>.nav-link {
  color: initial;
  background-color: initial;
  border: none;
}

#blend-header {
  height: 60px;
}
.resume-link {
  text-decoration: underline;
}
.figure-caption {
  color: initial;
  font-weight: bold;
}
.close {
  color: AliceBlue;
}
